<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shanzhu.travel.mapper.DiquMapper">
    <resultMap id="BaseResultMap" type="com.shanzhu.travel.entity.Diqu">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="diqumingcheng" property="diqumingcheng" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, diqumingcheng, addtime    </sql>
    </mapper>
